<%- include('../templates/head.ejs')%>
  <%- include('../templates/navigation.ejs', {categories})%>
    <%- include('../templates/banner.ejs')%>
      <div class="admin__articles">
        <% articles.forEach( article=> {%>
          <div class="article">
            <div class="article__header">
              <div class="article__title">
                <a href="/article/<%=article.id%>">
                  <%= article.title%>
                </a>

              </div>
              <div class="article__time">
                【 <%= article.Category.category_name%> 】
              </div>
              <div class="article__time">
                <%= (String(article.createdAt)).slice(0,21)%>
              </div>
            </div>
            <div class="article__footer">
              <a href="/admin/update-article?articleId=<%=article.id%>" class="btn btn-link"> Edit</a>
              <a href="/admin/delete-article?articleId=<%=article.id%>" class="btn btn-link">Delete</a>
            </div>
          </div>
          <% })%>
      </div>

      <%- include('../templates/sidebar.ejs', {newArticles, newComments})%>
        <%- include('../templates/footer.ejs')%>